body { 
    background-color: skyblue;
}
header {

    text-align:center;
    background-color:darkseagreen;
}

button{
    width: 60px;
    height:60px;
}

.calculator {
    background-color:azure;
    min-width:500px;
    margin:auto;
    padding : 20%;
    
    
}

#screen{
    background-color:beige;
    border-color:coral;
    border : 2em;
    margin: 5%;
}

.bmi{
  background-color :pink; 
    min-width:500px;
    padding:20%;
}
